
@{
    ViewData["Title"] = "Create BO Paket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var urlGetHargaBarang = '@Url.Action("GetHargaBarang", "BookingPaket")';
    var urlSave = '@Url.Action("Save", "BookingPaket")';
    var urlCreate = '@Url.Action("Create", "BookingPaket")';
     var Mode = '@ViewBag.Mode';
    var idDO = '@ViewBag.Id';
    var urlGetData = '@Url.Action("GetPaket", "BookingPaket")';

</script>

<script src="~/Script/BookingPaket/Create.js" asp-append-version="true"></script>

<div class="panel panel-default" id="createForm">
    <div class="panel-heading">
        <div class="col-md-12 paddingleft0 divTitle">
            <div class="col-md-4 paddingleft5 ">
                <h6 class="panel-title">
                    FORM Booking Paket
                </h6>
            </div>

            <div class=" floatright" style="float:right;">

            </div>
        </div>
    </div>
    @using (Html.BeginForm("Save", "DO", FormMethod.Post, new { id = "form1" }))
    {
<div class="" style="min-height:450px;">
    <div class="panel-body page-content  container-fluid request-viewrequest" style="margin-left:0px;">
        <div class="col-xs-12 col-sm-9 col-lg-11 page-left-content" style="min-height:450px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Nomor Paket<span class="red">*</span></label>
                                <div class="col-md-10">
                                    <input class="form-control inputPink" value="AUTO GENERATED" id="DONumber" disabled />
                                    <input class="form-control inputPink" value="" id="id" type="hidden" />

                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline" id="divdp">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Nama Paket<span class="red">*</span></label>
                                <div class="col-md-10">
                                    <input class="form-control" value="" id="Nama_Paket" type="text" autocomplete="off" />
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Status<span class="red">*</span></label>
                                <div class="col-md-10">
                                    <select name="kategori" id="Status" class="selectpicker width99 inputGreen" data-live-search="true">
                                        <option value="Y">Aktif</option>
                                        <option value="T">Tidak Aktif</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Tanggal Mulai<span class="red">*</span></label>
                                <div class="col-xs-12 col-sm-9 col-lg-4">
                                    <div class='input-group date' id="divtanggal">
                                        <input id='tanggal' type='text' class="form-control datepicker" value="" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline">
                            <div class="row">
                                <label class="col-md-2 col-form-label">Tanggal Berakhir<span class="red">*</span></label>
                                <div class="col-xs-12 col-sm-9 col-lg-4">
                                    <div class='input-group date' id="divtanggalakhir">
                                        <input id='tanggalakhir' type='text' class="form-control datepicker" value="" disabled />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-lg-12 form-c-inline">
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="addKota" class="btn btn-primary pull-right" onclick="onAddNewRow(); return false;"><i class="glyphicon glyphicon-plus"></i>&nbsp; Tambah Item(F2)</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="GridPaket"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-1 page-right-content">
            <div class=" row-navandbuttons">
                <div class="col-xs-12">
                    <div id="right-content-buttons" class=" right-buttons">
                        <div class="col-xs-12">
                            <div class=" ">
                                <div class="col-xs-6 col-sm-12 row-right-button" style="text-align: left;margin-top: 126px;">
                                    <button id="back" class="btn btn-success right-button" onclick="showCreate(); return false;"><i class="glyphicon glyphicon-file paddingRight10" aria-hidden="true"></i><span>NEW(F7)</span></button>
                                </div>
                                <div class="col-xs-6 col-sm-12 row-right-button" style="text-align: left;">
                                    <button id="save" class="btn btn-primary right-button" onclick="onSaveClicked(); return false;"><i class="glyphicon glyphicon-floppy-disk paddingRight10" aria-hidden="true"></i><span>Simpan(F4)</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-navigatortoggler">
                <div class="col-xs-12 row-right-button">
                    <button class="btn btn-default" data-toggle="collapse" data-target="#right-content-navigator, #right-content-buttons" onclick="return false;">
                        <span>
                            <img src="~/images/expand-navigation-icon.png" class="navigatortoggler-icon">
                        </span>
                    </button>
                </div>
            </div>

        </div>
    </div>
    
</div>
    }
</div>

