
@{
    ViewData["Title"] = "Master Pegawai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <script>
    var urlGetData = '@Url.Action("GetPegawai", "Master")';
    var urlSave = '@Url.Action("SavePegawai", "Master")';
    var urlDelete = '@Url.Action("DeletePegawai", "Master")';
    var urlUpdate = '@Url.Action("UpdatePegawai", "Master")';
     var GudangList = @(Html.Raw(ViewBag.GudangList));

    </script>
<script type="text/javascript" src="~/Script/Master/Pegawai.js" asp-append-version="true"></script>

<div id="wrapperList">
    <div class="panel-title">
        <span class="fontTitle">Master Pegawai</span>
        @*<button id="addKota" class="btn btn-primary pull-right" onclick="addForm1()"><i class="glyphicon glyphicon-plus"></i>&nbsp; Tambah Pegawai</button>*@
    </div>
    <div>

    </div>
    <div id="GridPeg" style="display:inline-block;"></div>
</div>
<div id="editForm"></div>
<div id="dialog"></div>


